:root {
  --darkblue: #13293d;
}

.custom-bg {
  background-color: var(--darkblue);
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 60px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }

  .Header-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto
  }
  
  main {
    display: flex;
  }

  .char-Img {
    max-width: 50%;
    height: 200px;
    
  }

  section {
    background-color: #fff;
    padding: 20px;
  }

  .char-Vid {
    flex: 40%;
    width: 100%;
    padding: 20px;
    height: 200px;
  }

  .char-Bio {
    text-align: center;
    flex: 100%;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
  }

  .char-Links {
    text-align: center;
    flex: 100%;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
  }
  
  footer {
    padding: 5px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
  
  
  /* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */
  
  /* Tablets */
  @media screen and (max-width: 992px) {
   
  }
  
  /* Large smartphones  */
  @media screen and (max-width: 768px) {
    
  }
  
  /* Small smartphones  */
  @media screen and (max-width: 576px) {
    
    
  }
  