:root {
  --darkblue: #13293d;
}

.custom-bg {
  background-color: var(--darkblue);
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  .contains{width:90%;margin:0 auto;}
  header {
    padding: 60px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }

  .Header-img {

    background-color: #fff;
    width: 75%;
    height: 200px;
    border: 1px solid black;
  }
  
  nav {
    display: flex;
    background-color: #13293d;
    color: #fff ;  
    background-color: #13293d;
    color: #fff;
    padding: 1vh 0;;

  }
  .searchContainer {margin: 1vh auto;
       display: block;}
  #charLinks a{    background-color: rgba(206, 11, 11);
    color: white; text-decoration: none; font-size:3rem;
}
  main {
    display: flex;
    flex-direction: column;
  }
#charImg{margin: 2vh 0;}
  .char-Img {
    
    height: 200px;

    border: 1px solid black;
    display: block;
    margin: 0 auto;

  }

  section {
    background-color: #fff;
    padding: 20px;
  }

  .char-Vid {
    flex: 40%;
    width: 100%;
    padding: 20px;
    height: 200px;
  }

  .char-Bio {
    text-align: center;
    flex: 100%;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
  }

  .char-Links {
    text-align: center;
    flex: 100%;
    width: 100%;
    padding: 20px;
    height: auto;
    border: 1px solid black;
  }
  
  footer {
    padding: 5px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
  
  
  /* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */
  
  /* Tablets */
  @media screen and (max-width: 992px) {
    #charLinks a{
      font-size: 1.5rem;
     }
     
  }
  
  /* Large smartphones  */
  @media screen and (max-width: 768px) {
    
  }
  
  /* Small smartphones  */
  @media screen and (max-width: 576px) {
   
  }
  