* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 60px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
  nav {
    display: flex;
    background-color: #13293d;
    color: #fff;
  }
  
  main {
    display: flex;
  }
  
  aside {
    flex: 60%;
    background-color: #fff;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  section {
    flex: 40%;
    background-color: #fff;
    padding: 20px;
  }
  
  footer {
    padding: 5px;
    text-align: center;
    background: #13293d;
    color: black;
  }
  
  /* Image Placeholders */
  .sample-img {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
  }

  /* Image Placeholders */
  .Header-img {
    background-color: #fff;
    width: 75%;
    height: 200px;
    border: 1px solid black;
  }
  
  /* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */
  
  /* Tablets */
  @media screen and (max-width: 992px) {
   
  }
  
  /* Large smartphones  */
  @media screen and (max-width: 768px) {
    
  }
  
  /* Small smartphones  */
  @media screen and (max-width: 576px) {
    
    
  }
  